Pojo_VinilesVintach/xml-resources/web-service-references/WS_VinilesVintach/wsdl/localhost_8080/WS_VinilesVintach/WS_VinilesVintach.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsvinilesvintach/" xmlns:ns1="http://wsmusicapedidos/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsvinilesvintach/">

<xs:import namespace="http://wsmusicapedidos/" schemaLocation="http://localhost:8080/WS_VinilesVintach/WS_VinilesVintach?xsd=2"/>

<xs:element name="ExcepSinExistencias" type="tns:ExcepSinExistencias"/>

<xs:element name="catalogoClientes" type="tns:catalogoClientes"/>

<xs:element name="catalogoClientesResponse" type="tns:catalogoClientesResponse"/>

<xs:element name="catalogoProductos" type="tns:catalogoProductos"/>

<xs:element name="catalogoProductosResponse" type="tns:catalogoProductosResponse"/>

<xs:element name="procesoCompra" type="tns:procesoCompra"/>

<xs:element name="procesoCompraResponse" type="tns:procesoCompraResponse"/>

<xs:complexType name="catalogoProductos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="catalogoProductosResponse">
<xs:sequence>
<xs:element name="return" type="ns1:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="catalogoClientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="catalogoClientesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesoCompra">
<xs:sequence>
<xs:element name="idCliente" type="xs:int"/>
<xs:element name="listaItems" type="ns1:clsItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesoCompraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExcepSinExistencias">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>