Pojo_VinilesVintach/xml-resources/web-service-references/WS_VinilesVintach/wsdl/localhost_8080/WS_VinilesVintach/WS_VinilesVintach.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsvinilesvintach/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsvinilesvintach/" name="WS_VinilesVintach">
<types>
<xsd:schema>
<xsd:import namespace="http://wsvinilesvintach/" schemaLocation="http://localhost:8080/WS_VinilesVintach/WS_VinilesVintach?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://wsmusicapedidos/" schemaLocation="http://localhost:8080/WS_VinilesVintach/WS_VinilesVintach?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://wsmusicacredito/" schemaLocation="http://localhost:8080/WS_VinilesVintach/WS_VinilesVintach?xsd=3"/>
</xsd:schema>
</types>
<message name="procesoCompra">
<part name="parameters" element="tns:procesoCompra"/>
</message>
<message name="procesoCompraResponse">
<part name="parameters" element="tns:procesoCompraResponse"/>
</message>
<message name="ExcepNoExisteClte_Exception">
<part xmlns:ns1="http://wsmusicacredito/" name="fault" element="ns1:ExcepNoExisteClte"/>
</message>
<message name="ExcepNoCredito_Exception">
<part xmlns:ns2="http://wsmusicacredito/" name="fault" element="ns2:ExcepNoCredito"/>
</message>
<message name="ExcepSinExistencias">
<part name="fault" element="tns:ExcepSinExistencias"/>
</message>
<message name="catalogoClientes">
<part name="parameters" element="tns:catalogoClientes"/>
</message>
<message name="catalogoClientesResponse">
<part name="parameters" element="tns:catalogoClientesResponse"/>
</message>
<message name="catalogoProductos">
<part name="parameters" element="tns:catalogoProductos"/>
</message>
<message name="catalogoProductosResponse">
<part name="parameters" element="tns:catalogoProductosResponse"/>
</message>
<portType name="WS_VinilesVintach">
<operation name="procesoCompra">
<input wsam:Action="http://wsvinilesvintach/WS_VinilesVintach/procesoCompraRequest" message="tns:procesoCompra"/>
<output wsam:Action="http://wsvinilesvintach/WS_VinilesVintach/procesoCompraResponse" message="tns:procesoCompraResponse"/>
<fault message="tns:ExcepNoExisteClte_Exception" name="ExcepNoExisteClte_Exception" wsam:Action="http://wsvinilesvintach/WS_VinilesVintach/procesoCompra/Fault/ExcepNoExisteClte_Exception"/>
<fault message="tns:ExcepNoCredito_Exception" name="ExcepNoCredito_Exception" wsam:Action="http://wsvinilesvintach/WS_VinilesVintach/procesoCompra/Fault/ExcepNoCredito_Exception"/>
<fault message="tns:ExcepSinExistencias" name="ExcepSinExistencias" wsam:Action="http://wsvinilesvintach/WS_VinilesVintach/procesoCompra/Fault/ExcepSinExistencias"/>
</operation>
<operation name="catalogoClientes">
<input wsam:Action="http://wsvinilesvintach/WS_VinilesVintach/catalogoClientesRequest" message="tns:catalogoClientes"/>
<output wsam:Action="http://wsvinilesvintach/WS_VinilesVintach/catalogoClientesResponse" message="tns:catalogoClientesResponse"/>
</operation>
<operation name="catalogoProductos">
<input wsam:Action="http://wsvinilesvintach/WS_VinilesVintach/catalogoProductosRequest" message="tns:catalogoProductos"/>
<output wsam:Action="http://wsvinilesvintach/WS_VinilesVintach/catalogoProductosResponse" message="tns:catalogoProductosResponse"/>
</operation>
</portType>
<binding name="WS_VinilesVintachPortBinding" type="tns:WS_VinilesVintach">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="procesoCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExcepNoExisteClte_Exception">
<soap:fault name="ExcepNoExisteClte_Exception" use="literal"/>
</fault>
<fault name="ExcepNoCredito_Exception">
<soap:fault name="ExcepNoCredito_Exception" use="literal"/>
</fault>
<fault name="ExcepSinExistencias">
<soap:fault name="ExcepSinExistencias" use="literal"/>
</fault>
</operation>
<operation name="catalogoClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="catalogoProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_VinilesVintach">
<port name="WS_VinilesVintachPort" binding="tns:WS_VinilesVintachPortBinding">
<soap:address location="http://localhost:8080/WS_VinilesVintach/WS_VinilesVintach"/>
</port>
</service>
</definitions>