WS_VinilesVintach/web/WEB-INF/wsdl/localhost_8080/WS_Musica_Pedidos/WSMusicaPedidos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsmusicapedidos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsmusicapedidos/" name="WSMusicaPedidos">
<types>
<xsd:schema>
<xsd:import namespace="http://wsmusicapedidos/" schemaLocation="http://localhost:8080/WS_Musica_Pedidos/WSMusicaPedidos?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="altaPedido">
<part name="parameters" element="tns:altaPedido"/>
</message>
<message name="altaPedidoResponse">
<part name="parameters" element="tns:altaPedidoResponse"/>
</message>
<message name="clteDelPedido">
<part name="parameters" element="tns:clteDelPedido"/>
</message>
<message name="clteDelPedidoResponse">
<part name="parameters" element="tns:clteDelPedidoResponse"/>
</message>
<message name="catalogoCltes">
<part name="parameters" element="tns:catalogoCltes"/>
</message>
<message name="catalogoCltesResponse">
<part name="parameters" element="tns:catalogoCltesResponse"/>
</message>
<message name="montoPedido">
<part name="parameters" element="tns:montoPedido"/>
</message>
<message name="montoPedidoResponse">
<part name="parameters" element="tns:montoPedidoResponse"/>
</message>
<message name="catalogoProds">
<part name="parameters" element="tns:catalogoProds"/>
</message>
<message name="catalogoProdsResponse">
<part name="parameters" element="tns:catalogoProdsResponse"/>
</message>
<message name="getOrderedProductsByOrder">
<part name="parameters" element="tns:getOrderedProductsByOrder"/>
</message>
<message name="getOrderedProductsByOrderResponse">
<part name="parameters" element="tns:getOrderedProductsByOrderResponse"/>
</message>
<message name="updateOrderedProductStatus">
<part name="parameters" element="tns:updateOrderedProductStatus"/>
</message>
<message name="updateOrderedProductStatusResponse">
<part name="parameters" element="tns:updateOrderedProductStatusResponse"/>
</message>
<message name="procesoDeCompra">
<part name="parameters" element="tns:procesoDeCompra"/>
</message>
<message name="procesoDeCompraResponse">
<part name="parameters" element="tns:procesoDeCompraResponse"/>
</message>
<message name="restockProduct">
<part name="parameters" element="tns:restockProduct"/>
</message>
<message name="restockProductResponse">
<part name="parameters" element="tns:restockProductResponse"/>
</message>
<portType name="WSMusicaPedidos">
<operation name="hello">
<input wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/helloRequest" message="tns:hello"/>
<output wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="altaPedido">
<input wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/altaPedidoRequest" message="tns:altaPedido"/>
<output wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/altaPedidoResponse" message="tns:altaPedidoResponse"/>
</operation>
<operation name="clteDelPedido">
<input wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/clteDelPedidoRequest" message="tns:clteDelPedido"/>
<output wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/clteDelPedidoResponse" message="tns:clteDelPedidoResponse"/>
</operation>
<operation name="catalogoCltes">
<input wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/catalogoCltesRequest" message="tns:catalogoCltes"/>
<output wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/catalogoCltesResponse" message="tns:catalogoCltesResponse"/>
</operation>
<operation name="montoPedido">
<input wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/montoPedidoRequest" message="tns:montoPedido"/>
<output wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/montoPedidoResponse" message="tns:montoPedidoResponse"/>
</operation>
<operation name="catalogoProds">
<input wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/catalogoProdsRequest" message="tns:catalogoProds"/>
<output wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/catalogoProdsResponse" message="tns:catalogoProdsResponse"/>
</operation>
<operation name="getOrderedProductsByOrder">
<input wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/getOrderedProductsByOrderRequest" message="tns:getOrderedProductsByOrder"/>
<output wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/getOrderedProductsByOrderResponse" message="tns:getOrderedProductsByOrderResponse"/>
</operation>
<operation name="updateOrderedProductStatus">
<input wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/updateOrderedProductStatusRequest" message="tns:updateOrderedProductStatus"/>
<output wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/updateOrderedProductStatusResponse" message="tns:updateOrderedProductStatusResponse"/>
</operation>
<operation name="procesoDeCompra">
<input wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/procesoDeCompraRequest" message="tns:procesoDeCompra"/>
<output wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/procesoDeCompraResponse" message="tns:procesoDeCompraResponse"/>
</operation>
<operation name="restockProduct">
<input wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/restockProductRequest" message="tns:restockProduct"/>
<output wsam:Action="http://wsmusicapedidos/WSMusicaPedidos/restockProductResponse" message="tns:restockProductResponse"/>
</operation>
</portType>
<binding name="WSMusicaPedidosPortBinding" type="tns:WSMusicaPedidos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altaPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clteDelPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="catalogoCltes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="montoPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="catalogoProds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderedProductsByOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateOrderedProductStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="procesoDeCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restockProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSMusicaPedidos">
<port name="WSMusicaPedidosPort" binding="tns:WSMusicaPedidosPortBinding">
<soap:address location="http://localhost:8080/WS_Musica_Pedidos/WSMusicaPedidos"/>
</port>
</service>
</definitions>