WS_VinilesVintach/src/conf/xml-resources/web-service-references/WS_Musica_Envios/wsdl/localhost_8080/WS_Musica_Envios/WS_Musica_Envios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsmusicaenvios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsmusicaenvios/" name="WS_Musica_Envios">
<types>
<xsd:schema>
<xsd:import namespace="http://wsmusicaenvios/" schemaLocation="http://localhost:8080/WS_Musica_Envios/WS_Musica_Envios?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="solicitudEnvio">
<part name="parameters" element="tns:solicitudEnvio"/>
</message>
<message name="solicitudEnvioResponse">
<part name="parameters" element="tns:solicitudEnvioResponse"/>
</message>
<portType name="WS_Musica_Envios">
<operation name="remove">
<input wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/countRequest" message="tns:count"/>
<output wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/findRequest" message="tns:find"/>
<output wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="solicitudEnvio">
<input wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/solicitudEnvioRequest" message="tns:solicitudEnvio"/>
<output wsam:Action="http://wsmusicaenvios/WS_Musica_Envios/solicitudEnvioResponse" message="tns:solicitudEnvioResponse"/>
</operation>
</portType>
<binding name="WS_Musica_EnviosPortBinding" type="tns:WS_Musica_Envios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitudEnvio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_Musica_Envios">
<port name="WS_Musica_EnviosPort" binding="tns:WS_Musica_EnviosPortBinding">
<soap:address location="http://localhost:8080/WS_Musica_Envios/WS_Musica_Envios"/>
</port>
</service>
</definitions>