POJO_Credito/src/META-INF/wsdl/localhost_8080/WS_Musica_Credito/WSMusicaCredito.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsmusicacredito/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsmusicacredito/" name="WSMusicaCredito">
<types>
<xsd:schema>
<xsd:import namespace="http://wsmusicacredito/" schemaLocation="http://localhost:8080/WS_Musica_Credito/WSMusicaCredito?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="autoriza_double">
<part name="parameters" element="tns:autoriza_double"/>
</message>
<message name="autoriza_doubleResponse">
<part name="parameters" element="tns:autoriza_doubleResponse"/>
</message>
<message name="ExcepNoCredito">
<part name="fault" element="tns:ExcepNoCredito"/>
</message>
<message name="ExcepNoExisteClte">
<part name="fault" element="tns:ExcepNoExisteClte"/>
</message>
<message name="autoriza">
<part name="parameters" element="tns:autoriza"/>
</message>
<message name="autorizaResponse">
<part name="parameters" element="tns:autorizaResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="getClienteDetalles">
<part name="parameters" element="tns:getClienteDetalles"/>
</message>
<message name="getClienteDetallesResponse">
<part name="parameters" element="tns:getClienteDetallesResponse"/>
</message>
<portType name="WSMusicaCredito">
<operation name="remove">
<input wsam:Action="http://wsmusicacredito/WSMusicaCredito/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://wsmusicacredito/WSMusicaCredito/countRequest" message="tns:count"/>
<output wsam:Action="http://wsmusicacredito/WSMusicaCredito/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://wsmusicacredito/WSMusicaCredito/findRequest" message="tns:find"/>
<output wsam:Action="http://wsmusicacredito/WSMusicaCredito/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wsmusicacredito/WSMusicaCredito/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wsmusicacredito/WSMusicaCredito/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wsmusicacredito/WSMusicaCredito/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="autoriza_double">
<input wsam:Action="http://wsmusicacredito/WSMusicaCredito/autoriza_doubleRequest" message="tns:autoriza_double"/>
<output wsam:Action="http://wsmusicacredito/WSMusicaCredito/autoriza_doubleResponse" message="tns:autoriza_doubleResponse"/>
<fault message="tns:ExcepNoCredito" name="ExcepNoCredito" wsam:Action="http://wsmusicacredito/WSMusicaCredito/autoriza_double/Fault/ExcepNoCredito"/>
<fault message="tns:ExcepNoExisteClte" name="ExcepNoExisteClte" wsam:Action="http://wsmusicacredito/WSMusicaCredito/autoriza_double/Fault/ExcepNoExisteClte"/>
</operation>
<operation name="autoriza">
<input wsam:Action="http://wsmusicacredito/WSMusicaCredito/autorizaRequest" message="tns:autoriza"/>
<output wsam:Action="http://wsmusicacredito/WSMusicaCredito/autorizaResponse" message="tns:autorizaResponse"/>
<fault message="tns:ExcepNoCredito" name="ExcepNoCredito" wsam:Action="http://wsmusicacredito/WSMusicaCredito/autoriza/Fault/ExcepNoCredito"/>
<fault message="tns:ExcepNoExisteClte" name="ExcepNoExisteClte" wsam:Action="http://wsmusicacredito/WSMusicaCredito/autoriza/Fault/ExcepNoExisteClte"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://wsmusicacredito/WSMusicaCredito/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://wsmusicacredito/WSMusicaCredito/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wsmusicacredito/WSMusicaCredito/edit" message="tns:edit"/>
</operation>
<operation name="getClienteDetalles">
<input wsam:Action="http://wsmusicacredito/WSMusicaCredito/getClienteDetallesRequest" message="tns:getClienteDetalles"/>
<output wsam:Action="http://wsmusicacredito/WSMusicaCredito/getClienteDetallesResponse" message="tns:getClienteDetallesResponse"/>
<fault message="tns:ExcepNoExisteClte" name="ExcepNoExisteClte" wsam:Action="http://wsmusicacredito/WSMusicaCredito/getClienteDetalles/Fault/ExcepNoExisteClte"/>
</operation>
</portType>
<binding name="WSMusicaCreditoPortBinding" type="tns:WSMusicaCredito">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autoriza_double">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExcepNoCredito">
<soap:fault name="ExcepNoCredito" use="literal"/>
</fault>
<fault name="ExcepNoExisteClte">
<soap:fault name="ExcepNoExisteClte" use="literal"/>
</fault>
</operation>
<operation name="autoriza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExcepNoCredito">
<soap:fault name="ExcepNoCredito" use="literal"/>
</fault>
<fault name="ExcepNoExisteClte">
<soap:fault name="ExcepNoExisteClte" use="literal"/>
</fault>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getClienteDetalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExcepNoExisteClte">
<soap:fault name="ExcepNoExisteClte" use="literal"/>
</fault>
</operation>
</binding>
<service name="WSMusicaCredito">
<port name="WSMusicaCreditoPort" binding="tns:WSMusicaCreditoPortBinding">
<soap:address location="http://localhost:8080/WS_Musica_Credito/WSMusicaCredito"/>
</port>
</service>
</definitions>