ServiciosVinilosVintage/src/VinilosVintachSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/VinilosVintachSchema"
    xmlns:tns="http://xml.netbeans.org/schema/VinilosVintachSchema"
    elementFormDefault="qualified">
    <xsd:complexType name="listaProductos">
        <xsd:sequence>
            <xsd:element name="idProducto" type="xsd:int"></xsd:element>
            <xsd:element name="cantProducto" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
